{% extends 'base.html' %}

{% block pagetitle %}Log In{% endblock %}

{% block content %}
  <div class="alert alert-info" role="alert">Login is only required for project members to perform database maintenance tasks. All the useful information in the ThoT database is public and is accessible without logging in.</div>
  <form method="post">
    {{ form.csrf_token }}
    {{ form.name }}
    <div class="card col-md-6">
      <div class="card-body">
        <div class="row d-flex">
          <div class="mb-3">
            <div class="mb-3">
              {{ form.username.label(class="form-label") }}
              {{ form.username(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.password.label(class="form-label") }}
              {{ form.password(class="form-control") }}
            </div>
            <div class="d-flex ms-auto col-2">
              {{ form.submit(class="p-2 btn btn-outline-secondary")}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
