{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {{ form.csrf_token }}
    {{ form.name }}
    <div class="container-xl">
      <div class="col-md-6">
        {{ form.fullname.label(class="form-label") }}
        {{ form.fullname(class="form-control") }}
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {{ form.confirm.label(class="form-label") }}
        {{ form.confirm(class="form-control") }}
        <div class="d-flex">
          {{ form.submit(class="ms-auto p-2 mt-2 btn btn-outline-secondary") }}
        </div>
      </div>
    </div>
  </form>
{% endblock %}
