{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Distribution of tonal languages in the world</h5>
            <p class="card-text">All the world languages are included
            into ThoTDB, with indication of their tonal status: tonal,
            toneless, unknown. The information on the tonal status
            combines data from the existing cross-linguistic sources
            and our own research. Tonal status of a language may
            change after verification. If you detect an error,
            please <a class="link-secondary" href="mailto:vydrine@gmail.com">contact
            us</a>.</p>
              <div class="row mb-2 mt-2">
                <div class="col">
                  <div>Tonal: </div>
                  <div>{{ stats.tonal }} ({{ '{:.1f}%'.format(stats.tonal / stats.total * 100)}})</div>
                </div>
                <div class="col">
                  <div>Toneless: </div>
                  <div>{{ stats.toneless }} ({{ '{:.1f}%'.format(stats.toneless / stats.total * 100) }})</div>
                </div>
                <div class="col">
                  <div>Unknown: </div>
                  <div>{{ stats.unknown }} ({{ '{:.1f}%'.format(stats.unknown / stats.total * 100) }})</div>
                </div>
                <div class="col">
                  <div>Total: </div>
                  <div>{{ stats.total }} (100%)</div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-9">Our estimate for the total number of tonal languages in the world:</div>
                <div class="col-3 text-primary-emphasis fw-bold">{{ stats.estimate }} ({{ '{:.1f}%'.format(stats.estimate / stats.total * 100) }})</div>
              </div>
              <div class="d-flex justify-content-between">
                <div>Browse languages:</div>
                <div><a class="card-link" href="{{ url_for('reports.taxons') }}">List, grouped by family</a></div>
                <div><a class="card-link" href="{{ url_for('maps.world') }}">On a map</a></div>
              </div>
              <div class="row">
                {{ mapframe|safe }}
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">About</h5>
            <p class="card-text">ThoT Database is part of the <a class="card-link link-secondary" href="https://thot.huma-num.fr">ERC advanced project “Theory of Tone”</a>. This is a work in progress, the data are regularly augmented and corrected.</p>
            <div class="d-flex p-0">
              <div class="ms-auto"><a class="card-link link-secondary" data-bs-toggle="collapse" data-bs-target="#citation" role="button">How to cite</a></div>
            </div>
            <div class="collapse" id="citation">Maslinsky K., Vydrin V., Gerasimov D. ThoT Database. 2024. URL: https://thot.huma-num.fr/db/. 
            </div>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Theory</h5>
            <a class="card-link stretched-link" href="{{ url_for('theory.toneme_criteria') }}">Toneme criteria</a>
          </div>
        </div>
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Tonal systems of the sampled languages</h5>
            <a class="action card-link stretched-link" href="{{url_for('language.index')}}">See {{desc|length}} languages</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ThoT project sample</h5>
            <p class="card-text">Up to 250 tonal languages will be
            sampled for a detailed description of their tonal
              system.</p>
              <a class="card-link" href="{{ url_for('reports.progress') }}">General progress on tonal system descriptions</a>

              <p class="card-text text-small">
              {% for i in range(samplesize) %}
                {% if loop.index > desc|length %}
                  <span class="border border-3 rounded-circle badge">&nbsp;</span>
                {% else %}
                  <span class="border border-3 rounded-circle badge {{ desc[i].status.color }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ desc[i].lang_info.name }}">&nbsp;</span>
                {% endif %}
              {% endfor %}
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

