{% extends 'base.html' %}

{% block lang %}<a href="{{url_for('reports.taxons')}}">Quotas</a> > {{ taxon.name }}{% endblock %}


{% block head %}
    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", e =>
        {
            const mapTab = document.getElementById('map-tab');
            mapTab.addEventListener('shown.bs.tab', event => {
                var ifrWindow = document.querySelector('iframe').contentWindow;
                var map = ifrWindow.map_family_{{ taxon.taxon_id }};
                map.invalidateSize();
                map.fitBounds(ifrWindow.flangs_fg.getBounds());
            });
            const expand_button = document.getElementById("expand-button");
            const collapse_button = document.getElementById("collapse-button");
            const subfamiliesElementList = document.querySelectorAll('[id^=subfamilies-]');
            const collapseList = [...subfamiliesElementList].map(collapseEl => new bootstrap.Collapse(collapseEl))
            expand_button.addEventListener("click", () => {
                console.log(collapseList);
                collapseList.map(el => el.show());
            });
            collapse_button.addEventListener("click", () => {
                console.log(collapseList);
                collapseList.map(el => el.hide());
            });
        });
  </script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row d-flex mb-3">
          <h5 class="col card-title">Quota for {{ taxon.name }} ({{ taxon.taxon_id }})</h5>
          <div class="col">
            <div class="row d-flex">
              <div class="ms-auto">
                {% for i in range(quota.quota) %}
                  {% if loop.index > quota.descriptions|length %}
                    <span class="border border-3 rounded-circle badge">&nbsp;</span>
                  {% else %}
                    <span class="border border-3 rounded-circle badge {{ quota.descriptions[i].status.color }}">&nbsp;</span>                  
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <h6 class="card-subtitle mb-3 text-body-secondary">{{ taxon.parents }}</h6>
        <div class="row mb-3">
          <div class="col-md-3">
            Total langs: <span class="fw-bold">{{ langs|length }}</span>
          </div>
          <div class="col-md-3">
            Known tonal: <span class="fw-bold">{{ quota.tonal }}</span>
          </div>
          <div class="col-md-3">
            Known non-tonal: <span class="fw-bold">{{ quota.nontonal }}</span>
          </div>
          <div class="col-md-3">
            Estimated tonal: <span class="fw-bold">{{ quota.totaltonal }}</span>
          </div>
        </div>
        {% if g.user is not none %}
          <div class="row">
            <form method="post">
              {{ form.csrf_token }}
              {{ form.name }}
              <div class="col-md-3">
                <div class="input-group mb-3">
                  {{ form.quota.label(class="form-label ms-auto me-2") }}
                  {{ form.quota(class="form-control") }}
                </div>
                <div class="col-md-9 d-flex">
                </div>
              </div>
              <div class="d-flex">
                <div>
                  {{ form.submit(class="p-2 btn-btn-outline-secondary") }}
                </div>
              </div>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button data-bs-toggle="tab" class="nav-link active" data-bs-toggle="tab" data-bs-target="#table-view" type="button" role="tab">Table</button>
        </li>
        <li class="nav-item" role="presentation">
          <button data-bs-toggle="tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#tree-view" type="button" role="tab">Tree</button>
        </li>
        <li class="nav-item" role="presentation">
          <button data-bs-toggle="tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#map-view" type="button" role="tab" id="map-tab">Map</button>
        </li>
      </ul>
      <div class="tab-content tableFixHead vh-100">
        <div id="table-view" class="tab-pane fade show active">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">N</th>            
                <th scope="col">Language</th>
                <th scope="col">Glottocode</th>
                <th scope="col">ISO</th>
                <th scope="col">Tonal</th>            
                <th scope="col">H&amp;M<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="These data come from Emil Mannby and Harald Hammarström’s project on the automatic identification of tonal languages estimated by the reference to tones in the text of grammars [Hammarström & Mannby, forthc.]. This method has a moderate rate of both false positives and false negatives.">?</a></sup></th>            
                <th scope="col">HymanDB<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="A 'Y' mark in this column means that the language is present in the Larry Hyman’s database of tonal languages.">?</a></sup></th>            
                <th scope="col">LAPSyD<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Presence and complexity of the tonal system as indicated in the Lyon-Albuquerque Phonological Systems Database (<a href='https://lapsyd.huma-num.fr/lapsyd/'>https://lapsyd.huma-num.fr/lapsyd/</a>) [Maddieson et al. 2014-2016].">?</a></sup></th>            
                <th scope="col">WALS<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Presence and complexity of the tonal system as indicated in the The World Atlas of Language Structures (<a href='https://wals.info/feature/13A'>https://wals.info/feature/13A</a>) [Maddieson 2013]">?</a></sup></th>            
                <th scope="col">Checked</th>            
                <th scope="col"></th>
                {% if g.user is not none %}
                  <th scope="col">add</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for lang in langs %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ lang.name }}</td>
                  <td><a class="link-secondary" href="https://glottolog.org/resource/languoid/id/{{ lang.lang_id }}">{{ lang.lang_id }}</a></td>
                  <td>{{ lang.iso }}</td>
                  {% if lang.tonal.status %}
                    <td {% if lang.tonal.status.name == 'yes' %}class="bg-success-subtle fw-bold"{% elif lang.tonal.status.name == 'no' %}class="bg-warning-subtle fw-bold"{% else %}class="bg-info-subtle"{% endif %}><a href="{{ url_for('reports.edit_tonal_status', lang_id=lang.lang_id) }}">{{ lang.tonal.status.name }}</a></td>
                  {% else %}
                    <td class="bg-info-subtle"><a href="{{ url_for('reports.edit_tonal_status', lang_id=lang.lang_id) }}">?</a></td>
                  {% endif %}
                  <td {% if lang.tonal.auto and lang.tonal.auto.name == 'yes' %}class="bg-success-subtle"{% elif lang.tonal.auto and lang.tonal.auto.name == 'no' %}class="bg-warning-subtle"{% endif %}>{% if lang.tonal.hammarstrom %}{{ lang.tonal.auto.name }}{% endif %}</td>
                  <td {% if lang.tonal.hyman == 'Y' %}class="bg-success-subtle"{% endif %}>{% if lang.tonal.hyman == 'Y' %}yes{% endif %}</td>
                  <td {% if lang.tonal.lapsyd in ['N', 'None'] %}class="bg-warning-subtle"{% elif lang.tonal.lapsyd %}class="bg-success-subtle"{% endif %}>{% if lang.tonal.lapsyd %}{{ lang.tonal.lapsyd }}{% endif %}</td>
                  <td {% if lang.tonal.wals in ['N', 'None'] %}class="bg-warning-subtle"{% elif lang.tonal.wals %}class="bg-success-subtle"{% endif %}>{% if lang.tonal.wals %}{{ lang.tonal.wals }}{% endif %}</td>
                  <td>{% if lang.tonal.checked %}{{ lang.tonal.checked }}{% endif %}</td>
                  <td>
                    {% if lang.description and lang.description.status.color %}
                      <span class="border border-3 rounded-circle badge {{ lang.description.status.color }}">&nbsp;</span>
                    {% elif lang.is_candidate %}
                      <span class="border border-3 rounded-circle badge">&nbsp;</span>
                    {% endif %}
                  </td>
                  {% if g.user is not none and lang.is_candidate %}
                    <td><a class="action" href="{{ url_for('language.create', lang_id=lang.lang_id) }}">Add to sample</a></td>
                  {% elif lang.description %}
                    <td><a class="action" href="{{ url_for('language.update', lang_id=lang.lang_id) }}">View</a></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div id="tree-view" class="tab-pane fade">
          <div>
            <button class="btn link-secondary p-2" role="button" id="expand-button">Expand tree</button>
            <button class="btn link-secondary p-2" role="button" id="collapse-button">Collapse tree</button>
          </div>
          {%- for txn in [taxon] recursive %}
            <ul class="list-group list-group-flush ms-3">
              <li class="list-group-item"><a data-bs-toggle="collapse" href="#subfamilies-{{txn.taxon_id}}" role="button" class="link-secondary fw-bold">
                  {%- if txn.children -%}
                    [+]
                  {%- endif %}
                </a> {{ txn.name }} ({{ txn.taxon_id }})
                <span class="badge bg-body-secondary rounded-pill text-secondary-emphasis">{{ txn.child_language_count }}</span>&nbsp;
                <span>
                  {% if txn.statshere.tonal > 0 %}
                    <span class="badge bg-success rounded-pill">{{ txn.statshere.tonal }}</span>
                    &nbsp;
                  {% endif %}
                  {% if txn.statshere.toneless > 0 %}
                    <span class="badge bg-warning rounded-pill">{{ txn.statshere.toneless }}</span>                    
                    &nbsp;
                  {% endif %}
                  {% if txn.statshere.unknown > 0 %}
                    <span class="badge bg-info rounded-pill">{{ txn.statshere.unknown }}</span>
                  {% endif %}
                </span>
                {% if txn.langshere %}
                  <a data-bs-toggle="collapse" href="#langs-{{txn.taxon_id}}" role="button" class="fw-normal">[View languages]</a>
                <table class="table table-sm table-hover collapse" id="langs-{{txn.taxon_id}}">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Language</th>
                      <th scope="col">Glottocode</th>
                      <th scope="col">ISO</th>
                      <th scope="col">Tonal</th>            
                      <th scope="col">H&amp;M<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="These data come from Emil Mannby and Harald Hammarström’s project on the automatic identification of tonal languages estimated by the reference to tones in the text of grammars [Hammarström & Mannby, forthc.]. This method has a moderate rate of both false positives and false negatives.">?</a></sup></th>            
                      <th scope="col">HymanDB<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="A 'Y' mark in this column means that the language is present in the Larry Hyman’s database of tonal languages.">?</a></sup></th>            
                      <th scope="col">LAPSyD<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Presence and complexity of the tonal system as indicated in the Lyon-Albuquerque Phonological Systems Database (<a href='https://lapsyd.huma-num.fr/lapsyd/'>https://lapsyd.huma-num.fr/lapsyd/</a>) [Maddieson et al. 2014-2016].">?</a></sup></th>            
                      <th scope="col">WALS<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Presence and complexity of the tonal system as indicated in the The World Atlas of Language Structures (<a href='https://wals.info/feature/13A'>https://wals.info/feature/13A</a>) [Maddieson 2013]">?</a></sup></th>            
                      <th scope="col">Checked</th>            
                      <th scope="col"></th>
                      {% if g.user is not none %}
                        <th scope="col">add</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for lang in txn.langshere %}
                      <tr>
                        <td>{{ lang.name }}</td>
                        <td><a class="link-secondary" href="https://glottolog.org/resource/languoid/id/{{ lang.lang_id }}">{{ lang.lang_id }}</a></td>
                        <td>{{ lang.iso }}</td>
                        {% if lang.tonal.status %}
                          <td {% if lang.tonal.status.name == 'yes' %}class="bg-success-subtle fw-bold"{% elif lang.tonal.status.name == 'no' %}class="bg-warning-subtle fw-bold"{% else %}class="bg-info-subtle"{% endif %}><a href="{{ url_for('reports.edit_tonal_status', lang_id=lang.lang_id) }}">{{ lang.tonal.status.name }}</a></td>
                        {% else %}
                          <td class="bg-info-subtle"><a href="{{ url_for('reports.edit_tonal_status', lang_id=lang.lang_id) }}">?</a></td>
                        {% endif %}
                        <td {% if lang.tonal.auto and lang.tonal.auto.name == 'yes' %}class="bg-success-subtle"{% elif lang.tonal.auto and lang.tonal.auto.name == 'no' %}class="bg-warning-subtle"{% endif %}>{% if lang.tonal.hammarstrom %}{{ lang.tonal.auto.name }}{% endif %}</td>
                        <td {% if lang.tonal.hyman == 'Y' %}class="bg-success-subtle"{% endif %}>{% if lang.tonal.hyman == 'Y' %}yes{% endif %}</td>
                        <td {% if lang.tonal.lapsyd in ['N', 'None'] %}class="bg-warning-subtle"{% elif lang.tonal.lapsyd %}class="bg-success-subtle"{% endif %}>{% if lang.tonal.lapsyd %}{{ lang.tonal.lapsyd }}{% endif %}</td>
                        <td {% if lang.tonal.wals in ['N', 'None'] %}class="bg-warning-subtle"{% elif lang.tonal.wals %}class="bg-success-subtle"{% endif %}>{% if lang.tonal.wals %}{{ lang.tonal.wals }}{% endif %}</td>
                        <td>{% if lang.tonal.checked %}{{ lang.tonal.checked }}{% endif %}</td>
                        <td>
                          {% if lang.description and lang.description.status.color %}
                            <span class="border border-3 rounded-circle badge {{ lang.description.status.color }}">&nbsp;</span>
                          {% elif lang.is_candidate %}
                            <span class="border border-3 rounded-circle badge">&nbsp;</span>
                          {% endif %}
                        </td>
                        {% if g.user is not none and lang.is_candidate %}
                          <td><a class="action" href="{{ url_for('language.create', lang_id=lang.lang_id) }}">Add to sample</a></td>
                        {% elif lang.description %}
                          <td><a class="action" href="{{ url_for('language.update', lang_id=lang.lang_id) }}">View</a></td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endif %}
              {%- if txn.children -%}
                <div {% if loop.depth > 1 %}class="collapse"{% endif %} id="subfamilies-{{ txn.taxon_id }}">
                  {{loop(txn.children)}}
                </div>
              {%- endif %}
              </li>
            </ul>
          {%- endfor %}
        </div>
        <div id="map-view" class="tab-pane fade w-100 vh-100">
          {{ mapframe|safe }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {html: true}))
    const popover = new bootstrap.Popover('.popover-dismiss', {
    trigger: 'focus'
    });
  </script>
{% endblock %}


