{% extends 'base.html' %}

{% block pagetitle %}General progress on tonal language descriptions{% endblock %}

{% block content %}
  {% set nsampled = progress['sampled'] - progress['promised'] - progress['inprogress'] - progress['editing'] - progress['ready'] %}
  {% set psampled = '{:.2f}%'.format(progress['sampled']/250*100) %}
  {% set ppromised = '{:.2f}%'.format(progress['promised']/250*100) %}
  {% set pinprogress = '{:.2f}%'.format(progress['inprogress']/250*100) %}
  {% set pediting = '{:.2f}%'.format(progress['editing']/250*100) %}
  {% set pready = '{:.2f}%'.format(progress['ready']/250*100) %}
  {% set pnsampled = '{:.2f}%'.format(nsampled/250*100) %}
  <div class="container-xl tableFixHead vh-100">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <h5 class="card-title">Global progress</h5>
          <h6 class="card-subtitle mb-2">Total quota: {{ progress['total'] }}</h6>
          <div class="row ms-2">
            <div class="col-md-4 d-flex">
              <div>Languages sampled:</div>
              <div class="ms-auto">{{ progress['sampled'] }} / 250 </div>
              <div class="ms-2">[{{ psampled }}]</div>
            </div>
            <div class="col-md-8">
              <div class="progress">
                <div class="progress-bar bg-secondary" style="width: {{ psampled }}">{{ psampled }}</div>
              </div>
            </div>
          </div>
          <div class="row ms-2">
            <div class="col-md-4 d-flex">
              <div>Reports ready:</div>
              <div class="ms-auto">{{ progress['ready'] }} / 250 </div>
              <div class="ms-2">[{{ pready }}]</div>
            </div>
            <div class="col-md-8">
              <div class="progress">
                <div class="progress-bar {{ status_colors['ready'] }}" style="width: {{ pready }}">{{ pready }}</div>
              </div>
            </div>
          </div>
          <div class="row ms-2">
            <div class="col-md-4 d-flex">
              <div>Reports in editing:</div>
              <div class="ms-auto">{{ progress['editing'] }} / 250 </div>
              <div class="ms-2">[{{ pediting }}]</div>
            </div>
            <div class="col-md-8">
              <div class="progress">
                <div class="progress-bar text-dark {{ status_colors['editing'] }}" style="width: {{ pediting }}">{{ pediting }}</div>
              </div>
            </div>
          </div>
          <div class="row ms-2">
            <div class="col-md-4 d-flex">
              <div>Reports in progress:</div>
              <div class="ms-auto">{{ progress['inprogress'] }} / 250 </div>
              <div class="ms-2">[{{ pinprogress }}]</div>
            </div>
            <div class="col-md-8">
              <div class="progress">
                <div class="progress-bar text-dark {{ status_colors['in progress'] }}" style="width: {{ pinprogress }}">{{ pinprogress }}</div>
              </div>
            </div>
          </div>
          <div class="row ms-2">
            <div class="col-md-4 d-flex">
              <div>Reports promised:</div>
              <div class="ms-auto">{{ progress['promised'] }} / 250 </div>
              <div class="ms-2">[{{ ppromised }}]</div>
            </div>
            <div class="col-md-8">
              <div class="progress">
                <div class="progress-bar text-dark {{ status_colors['promised'] }}" style="width: {{ ppromised }}">{{ ppromised }}</div>
              </div>
            </div>
          </div>
          <div class="row ms-2">
            <div class="col-md-4 d-flex">
              <div>Report status for sampled languages:</div>
            </div>
            <div class="col-md-8">
              <div class="progress-stacked">
                <div class="progress" role="progress-bar" style="width: {{ pready }}">
                  <div class="progress-bar {{ status_colors['ready'] }}">{{ pready }}</div>
                </div>                
                <div class="progress" role="progress-bar" style="width: {{ pediting }}">
                  <div class="progress-bar text-dark {{ status_colors['editing'] }}">{{ pediting }}</div>
                </div>                
                <div class="progress" role="progress-bar" style="width: {{ pinprogress }}">
                  <div class="progress-bar text-dark {{ status_colors['in progress'] }}">{{ pinprogress }}</div>
                </div>                
                <div class="progress" role="progress-bar" style="width: {{ ppromised }}">
                  <div class="progress-bar text-dark {{ status_colors['promised'] }}">{{ ppromised }}</div>
                </div>                
                <div class="progress" role="progress-bar" style="width: {{ pnsampled }}">
                  <div class="progress-bar bg-secondary">{{ pnsampled }}</div>
                </div>
                <div class="progress" role="progress-bar" style="width: 100%">
                  <div class="progress-bar {{ status_colors['sampled'] }}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Taxon</th>
          <th scope="col">glottocode</th>
          <th scope="col" class="text-end">Total</th>
          <th scope="col" class="text-end">Tonal</th>
          <th scope="col" class="text-end">Non-tonal</th>
          <th scope="col" class="text-end">Estimate</th>
          <th scope="col" class="text-end">Quota<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="The column “Quota” provides the number of languages from the family in question to be included into the sample of the ThoT project to make this sample balanced.">?</a></sup></th>
          <th scope="col">Progress<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="In the column “Progress”, the advancement of the project is reflected for each family. The colors of the bubbles express the following meanings:
<ul><li>Green: The analytical report and the text annotation have been completed.</li>
<li>Blue: The analytical report is being edited (i.e., a preliminary full version is available).</li>
<li>Light blue: The analytical report is in progress.</li>
<li>Yellow: A report has been promised.</li>
<li>Gray: Language is included in the sample</li></ul>">?</a></sup></th>
          <th scope="col">Languages</th>
        </tr>
      </thead>
      <tbody>
        {% for qtaxon in quotas %}
          <tr>
            <td>{{ qtaxon.taxon.name }}</td>
            <td>{{ qtaxon.taxon_id }}</td>
            <td class="text-end">{{ qtaxon.taxon.languages|length }}</td>
            <td class="text-end">{{ qtaxon.tonal }}</td>
            <td class="text-end">{{ qtaxon.nontonal }}</td>
            <td class="text-end">{{ qtaxon.totaltonal }}</td>
            <td class="text-end fw-bold">{{ qtaxon.quota }}</td>
            <td  class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#{{ qtaxon.taxon_id }}">
              {% if qtaxon.quota < qtaxon.candidates %}
                {% set tsample = qtaxon.quota %}
              {% else %}
                {% set tsample = qtaxon.candidates %}
              {% endif %}                
              {% for i in range(tsample) %}
                {% if loop.index > qtaxon.descriptions|length %}
                  <span class="border border-3 rounded-circle badge">&nbsp;</span>
                {% else %}
                  <span class="border border-3 rounded-circle badge {{ qtaxon.descriptions[i].status.color }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ qtaxon.descriptions[i].lang_info.name }}">&nbsp;</span>                  
                {% endif %}
              {% endfor %}
            </td>
            <td><a class="action" href="{{ url_for('reports.edit_quota', taxon_id=qtaxon.taxon_id) }}">{% if g.user is not none %}Edit sample{% else %}View languages{% endif %}</a></td>
          </tr>
          {% if qtaxon.descriptions %}
            <tr>
              <td colspan='9' class="accordion-body accordion-collapse collapse" id="{{ qtaxon.taxon_id }}">
                <table class="table table-responsible table-light table-sm">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Language</th>
                      <th scope="col">TDI</th>
                      <th scope="col">Glottocode</th>
                      <th scope="col">ISO</th>
                      <th scope="col">Author</th>
                      <th scope="col">Responsible</th>
                      <th scope="col">Status</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for desc in qtaxon.descriptions %}
                      <tr>
                        <td>{{ desc.lang_info.name }}</td>
                        <td>{% if desc.tdi %}{{ '{:.2f}'.format(desc.tdi) }}{% endif %}</td>
                        <td>{{ desc.lang_id }}</td>
                        <td>{{ desc.lang_info.iso }}</td>
                        <td>{{ desc.author }}</td>
                        <td>{{ desc.owner.username }}</td>
                        <td>{{ desc.status.name }}</td>
                        <td><span class="border border-3 rounded-circle badge {{ desc.status.color }}">&nbsp;</span></td>
                        <td><a class="action" href="{{ url_for('language.update', lang_id=desc.lang_id) }}">{% if g.user is none %}View{% else %}Edit{% endif %}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {html: true}))
    const popover = new bootstrap.Popover('.popover-dismiss', {
    trigger: 'focus'
    })
  </script>
{% endblock %}
