{% extends 'base.html' %}

{% block content %}
  <div class="container-xl">
    <div class="d-flex">
      <div class="col-md-7">
        <h3>Tonal status of languages, by family</h3>
        <p class="lead">On this page, world languages are grouped into
        mid-range taxa corresponding, most often, to the traditional
        language families. In the “Total” column, the total number of
        languages is indicated (according to Glottolog). Numbers of
        languages in a family where tonal status is known are given in
        the columns “Tonal” and “Non-tonal”, respectively.  The sum of
        “Tonal” and “Non-tonal” is often inferior to the “Total”
        number, because many languages remain undocumented, and their
        tonal status is unknown. The numbers in the column “Estimate”
        represent an extrapolation from the tonal/non-tonal rate on
        the total number of languages in the family.</p>
      </div>
      <div class="ms-auto col-md-4">
        <div class="mb-3 d-flex">
          <div class="ms-auto">
            <a class="link-secondary" href="{{ url_for('maps.world') }}">All languages on a map <i class="bi bi-map"></i></a>
          </div>
        </div>
        <form method="post">
          {{ form.csrf_token }}
          {{ form.name }}
          <div class="input-group rounded">              
            {{ form.query(class="form-control", placeholder="language name, iso or glottocode") }}
            <span class="input-group-text border-0" id="search-addon">
              {{ form.submit(class="form-control btn bi bi-search") }}
            </span>
          </div>
        </form>
        <div class="card mt-3">
          <div class="card-body">
            <h6 class="card-title">Global statistics</h6>
            <div class="card-body">
              <div class="row">
                <div class="col"></div>
                <div class="col">since last week</div>              
              </div>
              <div class="row">
                <div class="col d-flex"><span>Tonal:</span><span class="ms-auto">{{ stats.tonal }}</span></div>
                <div class="col">(<span class="text-success">{% if weekdiff.tonal > 0 %}+{% endif %}{{ weekdiff.tonal }}</span>)</div>
              </div>
              <div class="row">
                <div class="col d-flex"><span>Toneless:</span><span class="ms-auto">{{ stats.toneless }}</span></div>
                <div class="col">(<span class="text-warning">{% if weekdiff.toneless > 0 %}+{% endif %}{{ weekdiff.toneless }}</span>)</div>
              </div>
              <div class="row">
                <div class="col d-flex"><span>Checked:</span><span class="ms-auto">{{ stats.checked }}</span></div>
                <div class="col">(<span {% if weekdiff.checked < 0 %}class="fw-bold text-danger"{% else %}class="fw-bold text-success"{% endif %}>{% if weekdiff.checked > 0 %}+{% endif %}{{ weekdiff.checked }}</span>)</div>
              </div>
              <div class="row">
                <div class="col d-flex"><span>Unknown:</span><span class="ms-auto">{{ stats.unknown }}</span></div>
                <div class="col">(<span {% if weekdiff.unknown < 0 %}class="fw-bold text-info"{% else %}class="text-danger"{% endif %}>{% if weekdiff.unknown > 0 %}+{% endif %}{{ weekdiff.unknown }}</span>)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-hover tableFixHead mt-3">
      <thead class="thead-light">
        <tr>
          <th scope="col">Taxon</th>
          <th scope="col">glottocode</th>
          <th scope="col" class="text-end">Total</th>
          <th scope="col" class="text-end">Tonal</th>
          <th scope="col" class="text-end">Non-tonal</th>
          <th scope="col" class="text-end">Estimate</th>
          <th scope="col" class="text-end">Quota<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="The column “Quota” provides the number of languages from the family in question to be included into the sample of the ThoT project to make this sample balanced.">?</a></sup></th>
          <th scope="col">Progress<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="In the column “Progress”, the advancement of the project is reflected for each family. The colors of the bubbles express the following meanings:
<ul><li>Green: The analytical report and the text annotation have been completed.</li>
<li>Blue: The analytical report is being edited (i.e., a preliminary full version is available).</li>
<li>Light blue: The analytical report is in progress.</li>
<li>Yellow: A report has been promised.</li>
<li>Gray: Language is included in the sample</li></ul>">?</a></sup></th>
          <th scope="col">Languages</th>
        </tr>
        <tr>
          <td class="">Totals</td>
          <td></td>
          <td class="text-end text-primary-emphasis">{{ stats.total }}</td>
          <td class="text-end text-primary-emphasis">{{ stats.tonal }}</td>
          <td class="text-end text-primary-emphasis">{{ stats.toneless }}</td>
          <td class="text-end text-primary-emphasis">{{ stats.estimate }}</td>
          <td class="text-end text-primary-emphasis">{{ stats.quota }}</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for qtaxon in quotas %}
          <tr>
            <td>{{ qtaxon.taxon.name }}</td>
            <td><a class="link-secondary" href="https://glottolog.org/resource/languoid/id/{{ qtaxon.taxon_id }}">{{ qtaxon.taxon_id }}</a></td>
            <td class="text-end">{{ qtaxon.taxon.languages|length }}</td>
            <td class="text-end">{{ qtaxon.tonal }}</td>
            <td class="text-end">{{ qtaxon.nontonal }}</td>
            <td class="text-end">{{ qtaxon.totaltonal }}</td>
            <td class="text-end fw-bold">{{ qtaxon.quota }}</td>
            <td  class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#{{ qtaxon.taxon_id }}">
              {% if qtaxon.quota < qtaxon.candidates %}
                {% set tsample = qtaxon.quota %}
              {% else %}
                {% set tsample = qtaxon.candidates %}
              {% endif %}                
              {% for i in range(tsample) %}
                {% if loop.index > qtaxon.descriptions|length %}
                  <span class="border border-3 rounded-circle badge">&nbsp;</span>
                {% else %}
                  <span class="border border-3 rounded-circle badge {{ qtaxon.descriptions[i].status.color }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ qtaxon.descriptions[i].lang_info.name }}">&nbsp;</span>                  
                {% endif %}
              {% endfor %}
            </td>
            <td><a class="action" href="{{ url_for('reports.edit_quota', taxon_id=qtaxon.taxon_id) }}">{% if g.user is not none %}Edit sample{% else %}View languages{% endif %}</a></td>
          </tr>
          {% if qtaxon.descriptions %}
            <tr>
              <td colspan='9' class="accordion-body accordion-collapse collapse" id="{{ qtaxon.taxon_id }}">
                <table class="table table-responsible table-light table-sm">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Language</th>
                      <th scope="col">TDI</th>
                      <th scope="col">Glottocode</th>
                      <th scope="col">ISO</th>
                      <th scope="col">Author</th>
                      <th scope="col">Responsible</th>
                      <th scope="col">Status</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for desc in qtaxon.descriptions %}
                      <tr>
                        <td>{{ desc.lang_info.name }}</td>
                        <td>{% if desc.tdi %}{{ '{:.2f}'.format(desc.tdi) }}{% endif %}</td>
                        <td>{{ desc.lang_id }}</td>
                        <td>{{ desc.lang_info.iso }}</td>
                        <td>{{ desc.author }}</td>
                        <td>{{ desc.owner.username }}</td>
                        <td>{{ desc.status.name }}</td>
                        <td><span class="border border-3 rounded-circle badge {{ desc.status.color }}">&nbsp;</span></td>
                        <td><a class="action" href="{{ url_for('language.update', lang_id=desc.lang_id) }}">{% if g.user is none %}View{% else %}Edit{% endif %}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {html: true}))
    const popover = new bootstrap.Popover('.popover-dismiss', {
    trigger: 'focus'
    })
  </script>
{% endblock %}
