{% extends 'base.html' %}

{% block content %}
  <div class="container-xl tableFixHead vh-100">
    <div class="d-flex">
      <h3>Tonal status of languages, by family</h3>
      <div class="ms-auto col-md-4">
        <form method="post">
          {{ form.csrf_token }}
          {{ form.name }}
          <div class="input-group rounded">              
            {{ form.query(class="form-control", placeholder="language name, iso or glottocode") }}
            <span class="input-group-text border-0" id="search-addon">
              {{ form.submit(class="form-control btn bi bi-search") }}
            </span>
          </div>
        </form>
      </div>
    </div>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Taxon</th>
          <th scope="col">glottocode</th>
          <th scope="col" class="text-end">Total</th>
          <th scope="col" class="text-end">Tonal</th>
          <th scope="col" class="text-end">Non-tonal</th>
          <th scope="col" class="text-end">Estimate</th>
          <th scope="col" class="text-end">Quota</th>
          <th scope="col">Progress</th>
          <th scope="col">Languages</th>
        </tr>
        <tr>
          <td class="">Totals</td>
          <td></td>
          <td class="text-end text-primary-emphasis">{{ stats.total }}</td>
          <td class="text-end text-primary-emphasis">{{ stats.tonal }}</td>
          <td class="text-end text-primary-emphasis">{{ stats.toneless }}</td>
          <td class="text-end text-primary-emphasis">{{ stats.estimate }}</td>
          <td class="text-end text-primary-emphasis">{{ stats.quota }}</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for taxon, langs in results.items() %}
          {% set qtaxon = taxon.quota %}
          <tr class="table-warning">
            <td>{{ taxon.name }}</td>
            <td><a class="link-secondary" href="https://glottolog.org/resource/languoid/id/{{ qtaxon.taxon_id }}">{{ taxon.taxon_id }}</a></td>
            <td class="text-end">{{ taxon.languages|length }}</td>
            <td class="text-end">{{ qtaxon.tonal }}</td>
            <td class="text-end">{{ qtaxon.nontonal }}</td>
            <td class="text-end">{{ qtaxon.totaltonal }}</td>
            <td class="text-end fw-bold">{{ qtaxon.quota }}</td>
            <td  class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#{{ qtaxon.taxon_id }}">
              {% if qtaxon.quota < qtaxon.candidates %}
                {% set tsample = qtaxon.quota %}
              {% else %}
                {% set tsample = qtaxon.candidates %}
              {% endif %}                
              {% for i in range(tsample) %}
                {% if loop.index > qtaxon.descriptions|length %}
                  <span class="border border-3 rounded-circle badge">&nbsp;</span>
                {% else %}
                  <span class="border border-3 rounded-circle badge {{ qtaxon.descriptions[i].status.color }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ qtaxon.descriptions[i].lang_info.name }}">&nbsp;</span>                  
                {% endif %}
              {% endfor %}
            </td>
            <td><a class="action" href="{{ url_for('reports.edit_quota', taxon_id=qtaxon.taxon_id) }}">{% if g.user is not none %}Edit sample{% else %}View languages{% endif %}</a></td>
          </tr>
          {% if langs %}
            <tr>
              <td colspan='9' class="accordion-body accordion-collapse" id="{{ qtaxon.taxon_id }}">
                <table class="table table-responsible table-light table-sm">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">N</th>            
                      <th scope="col">Language</th>
                      <th scope="col">Glottocode</th>
                      <th scope="col">ISO</th>
                      <th scope="col">Tonal</th>            
                      <th scope="col">H&amp;M</th>            
                      <th scope="col">HymanDB</th>            
                      <th scope="col">LAPSyD</th>            
                      <th scope="col">WALS</th>            
                      <th scope="col">Checked</th>            
                      <th scope="col"></th>
                      {% if g.user is not none %}
                        <th scope="col">add</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for lang in langs %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ lang.name }}</td>
                        <td><a class="link-secondary" href="https://glottolog.org/resource/languoid/id/{{ lang.lang_id }}">{{ lang.lang_id }}</a></td>
                        <td>{{ lang.iso }}</td>
                        {% if lang.tonal.status %}
                          <td {% if lang.tonal.status.name == 'yes' %}class="bg-success-subtle fw-bold"{% elif lang.tonal.status.name == 'no' %}class="bg-warning-subtle fw-bold"{% else %}class="bg-info-subtle"{% endif %}><a href="{{ url_for('reports.edit_tonal_status', lang_id=lang.lang_id) }}">{{ lang.tonal.status.name }}</a></td>
                        {% else %}
                          <td class="bg-info-subtle"><a href="{{ url_for('reports.edit_tonal_status', lang_id=lang.lang_id) }}">?</a></td>
                        {% endif %}
                        <td {% if lang.tonal.auto and lang.tonal.auto.name == 'yes' %}class="bg-success-subtle"{% elif lang.tonal.auto and lang.tonal.auto.name == 'no' %}class="bg-warning-subtle"{% endif %}>{% if lang.tonal.hammarstrom %}{{ lang.tonal.auto.name }}{% endif %}</td>
                        <td {% if lang.tonal.hyman == 'Y' %}class="bg-success-subtle"{% endif %}>{% if lang.tonal.hyman == 'Y' %}yes{% endif %}</td>
                        <td {% if lang.tonal.lapsyd in ['N', 'None'] %}class="bg-warning-subtle"{% elif lang.tonal.lapsyd %}class="bg-success-subtle"{% endif %}>{{ lang.tonal.lapsyd }}</td>
                        <td {% if lang.tonal.wals in ['N', 'None'] %}class="bg-warning-subtle"{% elif lang.tonal.wals %}class="bg-success-subtle"{% endif %}>{% if lang.tonal.wals %}{{ lang.tonal.wals }}{% endif %}</td>
                        <td>{% if lang.tonal.checked %}{{ lang.tonal.checked }}{% endif %}</td>
                        <td>
                          {% if lang.description and lang.description.status.color %}
                            <span class="border border-3 rounded-circle badge {{ lang.description.status.color }}">&nbsp;</span>
                          {% elif lang.is_candidate %}
                            <span class="border border-3 rounded-circle badge">&nbsp;</span>
                          {% endif %}
                        </td>
                        {% if g.user is not none and lang.is_candidate %}
                          <td><a class="action" href="{{ url_for('language.create', lang_id=lang.lang_id) }}">Add to sample</a></td>
                        {% elif lang.description %}
                          <td><a class="action" href="{{ url_for('language.update', lang_id=lang.lang_id) }}">View</a></td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
  </div>
{% endblock %}
