{% extends 'base.html' %}

{% block lang %}<a href="{{url_for('reports.taxons')}}">Quotas</a> > <a href="{{url_for('reports.edit_quota', taxon_id=taxon.taxon_id)}}">{{taxon.name}}</a> > {{ lang_info.name }}{% endblock %}

{% block content %}
  <div class="container-xl">
    <div class="card">
      <form method="post">
        {{ form.csrf_token }}
        {{ form.name }}
        <div class="card-body">
          <div class="col mb-3">
            <div class="d-flex">
              <h5 class="card-title">Tonal status information sources for {{ lang_info.name }}</h5>
              <a href="{{ url_for('maps.language', lang_id=lang_info.lang_id) }}" class="ms-auto card-link">View on a map</a>
            </div>
            {% if lang_info.thot.alt_names %}
              <div class="card-subtitle mb-2">{{ lang_info.thot.alt_names }}</div>
            {% endif %}
            <h6 class="card-subtitle mb-2 text-body-secondary">
              {{ lang_info.iso }} (<a class="link-secondary" href="https://glottolog.org/resource/languoid/id/{{ lang_info.lang_id }}">{{ lang_info.lang_id }}</a>)
            </h6>
            <div class="text-bg-secondary text-wrap col-md-6">
              {{ lang_info.taxon.parents }}
              {% if ( lang_info.parent or lang_info.thot.parent ) and not lang_info.thot.parent == lang_info.family %}
                >...>
                {% if lang_info.thot.parent %}
                  {{ lang_info.thot.parent }}
                {% else %}
                  {{ lang_info.parent }}
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="mb-3">
            <div class="mb-3 d-flex">
              <div class="col-md-6">
                <div class="row mb-2">
                  <div class="col-md-6">
                    <div class="input-group">
                      {{ form.status.label(class="form-label col-md-8 fs-5") }}
                      {% if lang_info.tonal_status == 'tonal' %}
                        {{ form.status(class="form-control col-md-4 bg-success-subtle fs-6") }}
                      {% elif lang_info.tonal_status == 'toneless' %}
                        {{ form.status(class="form-control col-md-4 bg-warning-subtle fs-6") }}
                      {% elif lang_info.tonal_status == 'unknown' %}
                        {{ form.status(class="form-control col-md-4 bg-info-subtle fs-6") }}
                      {% else %}
                        {{ form.status(class="form-control col-md-4 fs-6") }}
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% if not lang_info.tonal_status == 'unknown' %}
                <div class="d-flex">
                  {% if lang_info.checked %}
                    <div><span class="badge rounded-pill text-bg-dark">Verified</span></div>
                    <div class="ms-2">Tonal status of the language either comes from a human-verified source
                      or was checked by a ThoT project member or our research partner.</div>
                  {% else %}
                    <div><span class="badge rounded-pill text-bg-warning">Unverified</span></div>
                    <div class="ms-2">Tonal status of the language was induced automaticlly from published grammars.
                      While this method gives good results overall (86% correct), sometimes it produces errors.</div>
                  {% endif %}
                </div>
                {% endif %}
              </div>
              <div class="col-md-5 ms-auto">
                <div class="card bg-info-subtle">
                  <div class="card-body">
                    <div class="card-text">If you have reliable data that could clarify or correct the tonal status of this language, please <a href="mailto:vydrine@gmail.com">contact us</a>.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-body">
                <h6 class="card-title">Data on the tonal status from other sources</h6>
                <div class="row mb-1 ms-2">
                  <div class="col">
                    <div>
                      Hammarström & Mannby<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="These data come from Emil Mannby and Harald Hammarström’s project on the automatic identification of tonal languages estimated by the reference to tones in the text of grammars [Hammarström & Mannby, forthc.]. This method has a moderate rate of both false positives and false negatives.">?</a></sup></div>
                    <div class="fw-bold">{% if tonal_status.auto %}{{ tonal_status.auto.name }}{% else %}&mdash;{% endif %}</div>
                  </div>
                  <div class="col">
                    <div>HymanDB<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="A 'Y' mark in this column means that the language is present in the Larry Hyman’s database of tonal languages.">?</a></sup></div>
                    <div class="fw-bold">{% if tonal_status.hyman %}{{ tonal_status.hyman }}{% else %}&mdash;{% endif %}</div>
                  </div>
                  <div class="col">
                    <div>LAPSyD<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Presence and complexity of the tonal system as indicated in the Lyon-Albuquerque Phonological Systems Database (https://lapsyd.huma-num.fr/lapsyd/) [Maddieson et al. 2014-2016].">?</a></sup></div>
                    <div class="fw-bold">{% if tonal_status.lapsyd %}{{ tonal_status.lapsyd }}{% else %}&mdash;{% endif %}</div>
                  </div>
                  <div class="col">
                    <div>WALS<sup class="badge bg-body-secondary"><a tabindex="0" type="button" class="link" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Presence and complexity of the tonal system as indicated in the The World Atlas of Language Structures (https://wals.info/feature/13A) [Maddieson 2013]">?</a></sup></div>
                    <div class="fw-bold">{% if tonal_status.wals %}{{ tonal_status.wals }}{% else %}&mdash;{% endif %}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Tonal status verified</h6>
                <div class="row ms-2 me-2 mb-3">
                  <div class="col-md-4">
                    {{ form.thot(class="form-check-input me-2")}}
                    {{ form.thot.label(class="form-check-label") }}
                  </div>
                  <div class="col-md-8">
                    <div class="input-group">
                      {{ form.checked.label(class="form-label col-md-4") }}
                      {{ form.checked(class="form-control col-md-8")}}
                    </div>
                  </div>
                </div>
                <div class="row mb-3 ms-2 me-2">
                  {{ form.comment.label(class="form-label") }}
                  {{ form.comment(class="form-control", rows="7")}}
                </div>
                <div>
                  <div class="col-md-6">
                    <div class="input-group">
                      {{ form.data_status.label(class="form-label col-md-8") }}
                      {{ form.data_status(class="form-control col-md-4 bg-info-subtle") }}
                    </div>
                  </div>
                </div>
                {% if g.user is not none %}
                  <div class="row mb-3">
                    {{ form.data_comment.label(class="form-label") }}
                    {{ form.data_comment(class="form-control bg-warning-subtle")}}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="d-flex">
            <a class="me-auto p-2 btn btn-outline-secondary" href="{{ url_for('reports.taxons') }}" id="cancel">Cancel</a>
            {{ form.submit(class="p-2 btn btn-outline-secondary") }}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    const popover = new bootstrap.Popover('.popover-dismiss', {
    trigger: 'focus'
    })
  </script>
{% endblock %}
  
