{% extends 'base.html' %}

{% block lang %}<a href="{{url_for('reports.taxons')}}">Quotas</a> > <a href="{{url_for('reports.edit_quota', taxon_id=lang_info.taxon.taxon_id)}}">{{lang_info.taxon.name}}</a> > {{ lang_info.name }}{% endblock %}

{% block content %}
  <div class="container-xl">
    <div class="row">
      {{ mapframe|safe }}
    </div>
  </div>
{% endblock %}
