{% extends 'base.html' %}

{% block content %}
  <div class="container-xl">
    <div class="d-flex">
      <div class="col-md-6">
        <h3>Tonal status of languages<sup class="badge rounded-pill bg-body-secondary"><a tabindex="0" type="button" class="link fs-6 fw-medium" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Tonal status of the languages of the world is represented here with color: <ul><li>Green — tonal.</li><li>Yellow — non-tonal.</li><li>Blue — unknown.</li></ul><p>Black circles indicate languages for which tonal status has been checked manually using reliable sources. For all other languages tonal status is inferred automatically from published grammars which sometimes results in misattribution. If you see an error, please <a href='mailto:vydrine@gmail.com'>contact us</a>.</p><p>Language points are clickable and link to a language page with detailed tonal status info.</p>">?</a></sup></h3>
        <div class="fs-6 text-body-secondary">This is a work in
            progress. Tonal status of a language may change after
            verification. If you detect an error,
            please <a class="link-secondary"
            href="mailto:vydrine@gmail.com">contact us</a>.
        </div>
      </div>
      <div class="ms-auto col-md-4 mb-2">
        <div class="mb-3 d-flex">
          <div class="ms-auto">
            <a class="link-secondary" href="{{ url_for('reports.taxons') }}">All languages, grouped by family <i class="bi bi-card-list"></i></a>
          </div>
        </div>
        <form method="post">
          {{ form.csrf_token }}
          {{ form.name }}
          <div class="input-group rounded">              
            {{ form.query(class="form-control", placeholder="language name, iso or glottocode") }}
            <span class="input-group-text border-0" id="search-addon">
              {{ form.submit(class="form-control btn bi bi-search") }}
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
    {{ mapframe|safe }}
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {html: true}))
    const popover = new bootstrap.Popover('.popover-dismiss', {
    trigger: 'focus'
    })
  </script>
{% endblock %}
