<!doctype html>
<html lang="en">
  <head>
    {% block head %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - ThoT Database</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">

        <div class="d-flex align-items-center">
        <a class="navbar-brand mb-0 h1" href="{{ url_for('reports.dashboard') }}">
          <img src="{{url_for('static', filename='thot.png')}}" alt="" width="30" height="24" class="d-inline-block align-text-top">
          ThoT Database</a>
          {% block lang %}{% endblock %}
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
            {% if g.user %}
              <li class="nav-item">
                <span class="nav-link">{{ g.user['username'] }}</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Staff only</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
        <div class="container-fluid">
          <div class="p-0 h5 bg-body-tertiary">{% block pagetitle %}{% endblock %}</div>
        </div>
      </header>
      <div class="container">
        <div class='row'>
          <div class="col-md-8 mx-auto">
            {% for message in get_flashed_messages(with_categories=true) %}
              <div class="alert alert-{{message[0]}}" role="alert">{{ message[1] }}</div>
            {% endfor %}
          </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-6 d-flex align-items-center">
            <a class="navbar-brand mb-0 h1" href="{{ url_for('reports.dashboard') }}">
              <img src="{{url_for('static', filename='thot.png')}}" alt="ThoT logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">ThoT Database by <a class="link-secondary" href="https://thot.huma-num.fr">ERC Advanced Project “Theory of Tone”</a></span>
          </div>
          
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="https://erc.europa.eu/homepage"><img src="{{url_for('static', filename='erc.png')}}" alt="ERC logo" width="45" height="45"></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://www.inalco.fr"><img src="{{url_for('static', filename='inalco.png')}}" alt="" width="65" height="45"></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://llacan.cnrs.fr"><img src="{{url_for('static', filename='llacan.png')}}" alt="" width="65" height="45"></a></li>
          </ul>
        </footer>
      </div>
    </section>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    {% block javascript %}{% endblock %}
  </body>
</html>
