{% extends 'base.html' %}

{% block pagetitle %}List of toneme criteria{% endblock %}

{% block content %}
  <div class="container-xl">
    {% if g.user is not none %}
    <div class="d-flex">
      <a class="ms-auto btn btn-outline-secondary" href="{{ url_for('theory.create_criterion') }}">Create new criterion</a>
    </div>
    {% endif %}
    <div class="row">
      {% for criterion in criteria %}
        <div class="card mb-3 col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ criterion.name }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Criterion type: {{ criterion.ctype.name }}</h6>
            <p class="card-text">{{ criterion.description }}</p>
            <div class="d-flex">
              <a class="btn" data-bs-toggle="collapse" href="#tonemes-{{ criterion.id }}" role="button">Tonemes defined using this criterion <i class="bi bi-chevron-down"></i></a>
              <div class="ms-auto"><a class="btn btn-outline-secondary card-link" href="{{ url_for('theory.edit_criterion', id=criterion.id) }}">{% if g.user is not none %}Edit{% else %}Details{% endif %}</a></div>
            </div>
            <div class="collapse" id="tonemes-{{ criterion.id }}">
              <div class="list-group">
                {% if not criterion.toneme_list %}
                  <a class="list-group-item" href="#">None yet</a>
                {% else %}
                  {% for tstatus in criterion.toneme_list %}
                    <a class="list-group-item list-group-item-action" href="{{ url_for('language.edit_toneme', id=tstatus.toneme_id) }}">{{ tstatus.toneme.lang_info.name }} : {{ tstatus.toneme.toneme_name }}</a>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
