{% extends 'base.html' %}

{% block pagetitle %}Edit criterion{% endblock %}

{% block header %}
  {% block javascript%}
    <script type="text/javascript">
      async function deleteCriterion(){
        let delete_url = {{ url_for('theory.delete_criterion', id=criterion.id)|tojson }};
        const response = await fetch(delete_url, {
            "method": "POST"
        });
        const result = await response.json();
          console.log('Successully deleted: ' + result.criterion_id);
        window.location = {{ url_for('theory.toneme_criteria')|tojson }};
      }
    </script>
  {% endblock %}
{% endblock %}

{% block content %}
  <div class="container-xl">
    <div class="row">
      <div class="card col-md-6">
        <form method="post">
          {{ form.csrf_token }}
          {{ form.name }}
          <div class="card-body">
            <div class="col mb-3">
              {{ form.cname.label(class="form-label") }}
              {{ form.cname(class="form-control")}}
              {{ form.ctype.label(class="form-label") }}
              {{ form.ctype(class="form-control")}}
              {{ form.description.label(class="form-label") }}
              {{ form.description(class="form-control")}}
            </div>
            <div class="d-flex">
              <a class="me-auto p-2 btn btn-outline-secondary" href="{{ url_for('theory.toneme_criteria') }}" id="cancel">Cancel</a>
            {{ form.submit(class="p-2 btn btn-outline-secondary") }}
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h5 class="mb-3">Tonemes defined using this criterion</h5>
        <div class="col">
          {% if not criterion.toneme_list and g.user is not none %}
            <div class="d-flex">
              <span class="me-auto">None</span>
              <button class="p-2 btn btn-outline-danger" type="button" onclick="deleteCriterion()" id="delete-criterion">Delete this criterion</button>
            </div>
          {% else %}
            {% for tstatus in criterion.toneme_list %}
              <div class="d-flex">
                <div class="me-auto">{{ tstatus.toneme.lang_info.name }} : {{ tstatus.toneme.toneme_name }}</div>
                <a class="p-2" href="{{ url_for('language.edit_toneme', id=tstatus.toneme_id) }}">{% if g.user is not none %}Edit{% else %}View{% endif %}</a>
              </div>
              <div class="row mb-2">
                <p class="text-bg-secondary text-wrap">Rationale: {{ tstatus.comment }}</p>
              </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
