{% extends 'base.html' %}

{% block pagetitle %}Add language description{% endblock %}

{% block content %}
<form method="post">
  <div class="card col-6">
    <div class="card-body">
      <label class="form-label for="search">Search</label>
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" name="search" placeholder="language name, iso or glottocode" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="form-control btn bi bi-search" type="submit"></i>
        </span>
      </div>
      <div class="row d-flex">
        <div class="mb-3">
          <div class="mb-3">
            <input class="form-control" name="lang_id" id="lang_id" value="{{ request.form['lang_id'] }}" required>
          </div>
          <div class="mb-3">
            <label class="form-label" for="author">Questionnaire response author</label>
            <input class="form-control" name="author" id="author">{{ request.form['author'] }}</input>
          </div>
          <div class="row d-flex">
            <div class="col-2">
              <a href="{{ url_for('language.index') }}" type="button" class="btn btn-outline-secondary">Cancel</a>
            </div>
            <div class="ms-auto col-2">
              <input class="form-control btn btn-outline-secondary" type="submit" value="Save">
            </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
