{% extends 'base.html' %}

{% block lang %}{{ lang_name }}{% endblock %}

{% block pagetitle %}Edit text data{% endblock %}

{% block header %}
  {% block javascript%}
    <script type="text/javascript">
      async function deleteText(){
        let delete_url = {{ url_for('language.delete_text', id=text.text_id)|tojson }};
        const response = await fetch(delete_url, {
            "method": "POST"
        });
        const result = await response.json();
          console.log('Successully deleted: ' + result.text_id);
          window.location = {{ url_for('language.texts', lang_id=text.lang_id)|tojson }};
      }
    </script>
  {% endblock %}
{% endblock %}

{% block content %}
  <div class="container-xl">
    <div class="row">
      <div class="card col-md-8 mb-3">
        <form method="post" enctype="multipart/form-data">
          {{ form.csrf_token }}
          {{ form.name }}
          <div class="card-body">
            <h5 class="card-title">{{ text.filename }}</h5>
            <div class="col mb-3">
              {{ form.reference.label(class="form-label") }}
              {{ form.reference(class="form-control")}}
              {{ form.author.label(class="form-label") }}
              {{ form.author(class="form-control")}}
              {{ form.date.label(class="form-label") }}
              {{ form.date(class="form-control")}}
              {{ form.genre.label(class="form-label") }}
              {{ form.genre(class="form-control")}}
              {{ form.url.label(class="form-label") }}
              {{ form.url(class="form-control")}}
              {{ form.srcfile.label(class="form-label") }}
              {{ form.srcfile(class="form-control")}}
            </div>
            <div class="d-flex">
              <a class="me-auto p-2 btn btn-outline-secondary" href="{{ url_for('language.texts', lang_id=text.lang_id) }}" id="cancel">Cancel</a>
            {{ form.submit(class="p-2 btn btn-outline-secondary") }}
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        {% if text.tokens %}
          <div class="mb-3">
            <p>Text: {{ text.as_string }}</p>
          </div>
        {% endif %}
        {% if g.user is not none %}
          <div class="d-flex">
            {% if text.tokens %}
              <a href="#" class="p-2 btn btn-outline-secondary">Edit markup</a>
            {% endif %}
            <button class="ms-auto p-2 btn btn-outline-danger" type="button" onclick="deleteText()" id="delete-criterion">Delete this text</button>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% if text.tokens %}
          <table class="table table-light table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Token</th>
                <th scope="col">Markup</th>
                <th scope="col">Gloss</th>
              </tr>
            </thead>
            <tbody>
              {% for token in text.tokens %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ token.token }}</td>
                  <td>{{ token.markup }}</td>
                  <td>{{ token.gloss }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
