{% extends 'base.html' %}

{% block lang %}{{ lang_name }}{% endblock %}

{% block pagetitle %}Edit text markup{% endblock %}

{% block content %}
  <div class="container">
    <table class="table table-light table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Token</th>
          <th scope="col">Markup</th>
          <th scope="col">Gloss</th>
        </tr>
      </thead>
      <tbody>
        {% for token in text.tokens %}
          <tr class="accordion-toggle" data-bs-toggle="collapse" data-bs-target="#token-{{token.token_id}}">
            <td>{{ loop.index }}</td>
            <td>{{ token.token }}</td>
            <td>{{ token.markup }}</td>
            <td>{{ token.gloss }}</td>
          </tr>
        <tr class="accordion-body accordion-collapse collapse" id="token-{{token.token_id}}">
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
