{% extends 'base.html' %}

{% block lang %}{{ lang_name }}{% endblock %}

{% block pagetitle %}Edit tonal rule{% endblock %}

{% block header %}
  {% block javascript%}
    <script type="text/javascript">
      async function deleteRule(){
        let delete_url = {{ url_for('language.delete_rule', id=rule.rule_id)|tojson }};
        const response = await fetch(delete_url, {
            "method": "POST"
        });
        const result = await response.json();
          console.log('Successully deleted: ' + result.rule_id);
          window.location = {{ url_for('language.update', lang_id=lang_id, _anchor='tonal-rules')|tojson }};
      }
    </script>
  {% endblock %}
{% endblock %}

{% block content %}
  <div class="container-xl">
    <div class="row">
      <div class="card col-md-8">
        <form method="post">
          {{ form.csrf_token }}
          <div class="card-body">
            <div class="col mb-3">
              {{ form.name.label(class="form-label") }}
              {{ form.name(class="form-control")}}
              {{ form.rule_type.label(class="form-label") }}
              {{ form.rule_type(class="form-control")}}
              {{ form.formula.label(class="form-label") }}
              {{ form.formula(class="form-control")}}
              {{ form.comment.label(class="form-label") }}
              {{ form.comment(class="form-control", rows="7")}}
              {{ form.depends_on.label(class="form-label") }}
              {{ form.depends_on(class="form-control") }}
            </div>
            <div class="d-flex">
              <a class="me-auto p-2 btn btn-outline-secondary" href="{{ url_for('language.update', lang_id=rule.lang_id, _anchor='tonal-rules') }}" id="cancel">Cancel</a>
              {% if g.user is not none %}
                {{ form.submit(class="p-2 btn btn-outline-secondary") }}
              {% endif %}
            </div>
          </div>
        </form>
      </div>
      {% if g.user is not none %}
        <div class="col-md-4">
          <div class="d-flex">
            <button class="p-2 btn btn-outline-danger" type="button" onclick="deleteRule()" id="delete-criterion">Delete this rule</button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
