{% extends 'base.html' %}

{% block pagetitle %}Tonal system descriptions{% endblock %}


{% block content %}

<div class="container-xl tableFixHead vh-100">
  {% if g.user %}
    <div class="row mb-3 d-flex">
      <a class="col-2 ms-auto btn btn-outline-secondary" type="button" href="{{ url_for('language.search') }}">Add language</a>
    </div>
  {% endif %}
  <table class="table table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">Language</th>
        <th scope="col">TDI(s)</th>
        <th scope="col">TBU</th>
        <th scope="col">glottocode</th>
        <th scope="col">Description author</th>
        <th scope="col">ThoT member in charge</th>
        <th scope="col">Last modified</th>
        <th scope="col">Status</th>
        {% if g.user is not none %}
          <th scope="col">edit</th>
        {% else %}
          <th scope="col">view</th>
        {% endif %}
        <th scope="col">Texts</th>
      </tr>
    </thead>
    <tbody>
      {% for lang in langs %}
        <tr>
          <td>{{ lang.lang_info.name }}</td>
          <td class="fw-bold">{% if lang.tdi %}{{ '{:.2f}'.format(lang.tdi) }}{% endif %}</td>
          <td>{% if lang.tonal_system %}{{ lang.tonal_system.tbu_unit.name }}{% endif %}</td>
          <td><a class="link-secondary" href="https://glottolog.org/resource/languoid/id/{{ lang.lang_info.lang_id }}">{{ lang.lang_info.lang_id }}</a></td>
          <td>{{ lang.author }}</td>
          <td>{{ lang.owner.username }}</td>
          <td class="text-secondary">{{ lang.age }}</td>
          <td>{{ lang.status.name }}</td>
          {% if g.user is not none %}
            <td><a class="action" href="{{ url_for('language.update', lang_id=lang['lang_id']) }}">Edit</a></td>
          {% else %}
            <td><a class="action" href="{{ url_for('language.update', lang_id=lang['lang_id']) }}">View</a></td>
          {% endif %}
          <td><a class="action" href="{{ url_for('language.texts', lang_id=lang['lang_id']) }}">Texts</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
