{% extends 'base.html' %}

{% block lang %}{{ lang_info.name }}{% endblock %}

{% block content %}

  <form method="post">
    {{ form.csrf_token }}
    {{ form.name }}
    <div class="container-fluid container-xl">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row d-flex">
            <div class="col-4 flex-grow-1">
              <h5 class="card-title">
                {{ lang_info.name }}
              </h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                {{ lang_info.iso }} ({{ lang_info.lang_id }})
              </h6>
            </div>
            <div class="col-4 d-flex flex-column">
              <h6 class="card-subtitle mb-2 text-body-secondary">{{ lang_info.macroregion }}</h6>
            </div>
          </div>
          <hr class="bg-primary">
          <div class="col">
            <div class="input-group mb-3">
              {{ form.alt_names.label(class="col-md-3") }}
              
              {{ form.alt_names(class="form-control", placeholder="a comma-separated list of names") }}
            </div>
            <div class="input-group mb-3">
              {{ form.microregion.label(class="col-md-3") }}
              
              {{ form.microregion(class="form-control") }}
            </div>
            <div class="input-group mb-3">
              {{ form.parent.label(class="col-md-3") }}
              
              {{ form.parent(class="form-control") }}
            </div>
            <div class="input-group mb-3">
              {{ form.l1speakers.label(class="col-md-3") }}
              
              {{ form.l1speakers(class="form-control") }}
            </div>
            <div class="input-group mb-3">
              {{ form.l2speakers.label(class="col-md-3") }}
              
              {{ form.l2speakers(class="form-control") }}
            </div>
            <div class="input-group mb-3">
              {{ form.dialect.label(class="col-md-3") }}
  
              {{ form.dialect(class="form-control") }}
            </div>
          </div>
          <div class="d-flex mb-3">
            <a class="me-auto btn btn-outline-secondary" href="{{ url_for('language.update', lang_id=lang_info.lang_id) }}" id="cancel">Cancel</a>
            <div>
              {{ form.submit(class="p-2 btn btn-outline-secondary") }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  
{% endblock %}
