{% extends 'base.html' %}

{% block content %}
  <div class="container-xl">
    <div class="row d-flex">
      <form method="post">
        {{ form.csrf_token }}
        {{ form.name }}
        <div class="ms-auto">
          <div class="input-group rounded text-center w-50">
            <span class="input-group-text">New search:</span> 
            {{ form.query(class="form-control", placeholder="language name, iso or glottocode") }}
            <span class="input-group-text border-0" id="search-addon">
              {{ form.submit(class="form-control btn bi bi-search") }}
            </span>
          </div>
        </div>
      </form>  
    </div>
    <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Language</th>
        <th scope="col">Level</th>
        <th scope="col">ISO</th>
        <th scope="col">glottocode</th>
        <th scope="col">Status</th>
        {% if g.user is not none %}
          <th scope="col">edit</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for lang in results %}
        <tr {% if lang.level == 'dialect' %}class="table-secondary"{% endif %}>
          <td>{{ lang.name }} {% if lang.thot.alt_names %}({{ lang.thot.alt_names }}){% endif %}</td>
          <td>{{ lang.level }}</td>
          <td>{{ lang.iso }}</td>
          <td>{{ lang.lang_id }}</td>
          <td>{% if lang.description %} {{ lang.description.status.name }} {% else %} Not added {% endif %}</td>
          {% if g.user is not none %}
            <td>{% if lang.description %}
              <a class="action" href="{{ url_for('language.update', lang_id=lang.lang_id) }}">Edit</a>
            {% else %}
              <a class="action" href="{{ url_for('language.create', lang_id=lang.lang_id) }}">Add</a>
            {% endif %}</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
