{% extends 'base.html' %}

{% block lang %}{{ lang_name }}{% endblock %}

{% block content %}
  <form method="post">
    {{ form.csrf_token }}
    {{ form.name }}
    <div class="container-fluid container-xl">
      <h4 class="text-body-emphasis fw-bold">Search a language</h4>
      <div class="row d-flex justify-content-center">
        {{ form.query.label(class="text-center") }}
        <div class="input-group rounded text-center w-50">              
          {{ form.query(class="form-control", placeholder="language name, iso or glottocode") }}
          <span class="input-group-text border-0" id="search-addon">
            {{ form.submit(class="form-control btn bi bi-search") }}
          </span>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
