{% extends 'base.html' %}

{% block lang %}
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="{{ url_for('language.index') }}">Sampled languages</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('language.update', lang_id=lang_info.lang_id) }}">{{ lang_info.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Texts</li>
  </ol>
  </nav>
{% endblock %}

{% block pagetitle %}Texts with tonal markup for {{ lang_info.name }}{% endblock %}

{% block content %}
  <div class="container">
    {% if g.user is not none %}
      <div class="d-flex mb-3">
        <a class="ms-auto btn btn-outline-secondary" href="{{ url_for('language.create_text', lang_id=lang_info.lang_id) }}">Upload new text</a>
      </div>
    {% endif %}
    {% for text in texts %}
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title mb-2">Text #{{ loop.index }}{% if text.filename %} ({{ text.filename }}){% endif %}</h5>
            <a class="ms-auto btn btn-outline-secondary" href="{{ url_for('language.edit_text', id=text.text_id) }}">{% if g.user is not none %}Edit{% else %}View{% endif %}</a>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">            
              <div>Source: {{ text.reference or '' }}</div>
              <div>Author: {{ text.author or '' }}</div>
              <div>Genre: {{ text.genre or '' }}</div>
              <div>Date: {{ text.date or '' }}</div>
              <div>URL: {{ text.url or '' }}</div>
            </div>
            {% if text.tokens %}
              <div class="col-md-6 mb-3">
                <div>Words: {{ text.words }}</div>
                <div>Syllables: {{ text.syllables }}</div>
                {% if text.tdi_type == "moraic" %}
                  <div>Moras: {{ text.moras }}</div>
                {% endif %}
                <div>Tonal spans: {{ text.tonal_spans }}</div>
                  <div class="fw-bold">Tonal Density Index (syllabic): {{ '{:.2f}'.format(text.tdi) }}</div>
                  <div class="ms-auto">
                    <a class="btn" data-bs-toggle="collapse" href="#statistics-{{ text.text_id }}" role="button">Detailed statistics <i class="bi bi-chevron-down"></i></a>
                  </div>
                {% if text.errors %}<div class="badge bg-danger">Markup errors</div>{% endif %}
          </div>
                <div class="collapse" id="statistics-{{ text.text_id }}">
                  <div class="row">
                    <div class="col-md-3">
                      <div>TDI based on:</div>
                      <div class="d-flex">
                        <div class="col-6 ms-3">words:</div>
                        <div class="col-4 text-end">{{'{:.2f}'.format(text.tonal_spans / text.words )}}</div>
                      </div>
                      <div class="d-flex">
                        <div class="col-6 ms-3">morphemes:</div>
                        <div class="col-4 text-end">{{'{:.2f}'.format(text.tonal_spans / text.morphemes )}}</div>
                      </div>
                      <div class="d-flex">
                        <div class="col-6 ms-3">feet:</div>
                        <div class="col-4 text-end">{% if text.tonal_system.prosodic_foot == 2 %}{{'{:.2f}'.format(text.tonal_spans / text.feet )}}{% else %}n/a{% endif %}</div>
                      </div>
                      <div class="d-flex">
                        <div class="col-6 ms-3">syllables:</div>
                        <div class="col-4 text-end">{{'{:.2f}'.format(text.tonal_spans / text.syllables )}}</div>
                      </div>
                      <div class="d-flex">
                        <div class="col-6 ms-3">moras:</div>
                        <div class="col-4 text-end">{% if text.tdi_type == "moraic" %}{{'{:.2f}'.format(text.tonal_spans / text.moras )}}{% else %}n/a{% endif %}</div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      Toneme statistics:
                      <div class="d-flex">
                        <div class="col-3 ms-3">total:</div>
                        <div class="col-8 text-end">{{ text.tonal_spans }}</div>
                      </div>
                      {% for toneme, n in text.toneme_count().items() %}
                        <div class="row d-flex">
                          <div class="col-3 ms-3">
                            {{ toneme }}
                          </div>
                          <div class="col-8 text-end">
                            {{ n }} ({{'{:.0f}%'.format(n / text.tonal_spans * 100)}})
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="col-md-2">
                      Grammatical:
                      <div class="row d-flex">
                        <div class="col text-end">{{ text.ngrammatical }}</div>
                        <div class="col text-end">({{ '{:.0f}%'.format(text.ngrammatical / text.tonal_spans * 100)}})</div>
                      </div>
                      {% for toneme, n in text.toneme_count(grammatical=True).items() %}
                        <div class="row d-flex">
                          <div class="col text-end">{{ n }}</div>
                          <div class="col text-end">{% if text.toneme_spans(toneme) == 0 %}(0%){% else %}({{ '{:.0f}%'.format(n / text.toneme_spans(toneme) * 100)}}){% endif %}</div>
                        </div>                        
                      {% endfor %}
                    </div>
                    <div class="col-md-4">
                      Tonal span size (in TBU):
                      <div class="d-flex">
                        <div class="col-6 ms-3">global mean:</div>
                        <div class="col-4 text-end">{% if text.tdi_type == "moraic" %}{{'{:.2f}'.format( text.moras / text.tonal_spans)}}{% else %}{{'{:.2f}'.format( text.syllables / text.tonal_spans)}}{% endif %}</div>
                      </div>
                      {% for toneme, m in text.toneme_mean_span.items() %}
                        <div class="d-flex">
                          <div class="col-6 ms-3">
                            {{ toneme }}
                          </div>
                          <div class="col-4 text-end">
                            {{ '{:.2f}'.format(m) }}
                          </div>
                        </div>
                      {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          <p class="card-text text-truncate">Text: {{ text.as_string }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
