{% extends 'base.html' %}

{% block lang %}
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="{{ url_for('language.index') }}">Sampled languages</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ lang_info.name }}</li>
  </ol>
  </nav>
{% endblock %}

{% block header %}
  <style>
    .btn-sm:hover {
    color: darkred;
    }
  </style>
    <script type="text/javascript">
    async function deleteToneme(id){
        const SCRIPT_ROOT = {{ request.script_root|tojson }};
        let delete_url = `${SCRIPT_ROOT}/toneme/${id}/delete`;
        const response = await fetch(delete_url, {
            "method": "POST"
        });
        const result = await response.json();
        console.log('Successully deleted: ' + result.toneme_id);
        const div = document.getElementById("toneme-" + id);
        div.remove();
    }
    var formIsDirty = false;
    const beforeUnloadHandler = (event) => {
        // Recommended
        event.preventDefault();
        var scroller = document.querySelector('#scroll-panel');
        sessionStorage.setItem('scrollpos', scroller.scrollTop);
        console.log('Scroll position', scroller.scrollTop);
        
        // Included for legacy support, e.g. Chrome/Edge < 119
        event.returnValue = true;
    };
    document.addEventListener("DOMContentLoaded", e =>
        {
            const form = document.getElementById('form');
            form.addEventListener('change', function(){
                formIsDirty = true;
                console.log('Form changed')
                window.addEventListener("beforeunload", beforeUnloadHandler);
            });
            form.addEventListener('submit', function() {
                formIsDirty = false;
                window.removeEventListener("beforeunload", beforeUnloadHandler);
            });
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            var scroller = document.querySelector('#scroll-panel');
            scroller.scrollTop = scrollpos;
            sessionStorage.removeItem('scrollpos');
        };            
        });
    window.onbeforeunload = function(e) {
        var scroller = document.querySelector('#scroll-panel');
        sessionStorage.setItem('scrollpos', scroller.scrollTop);
        console.log('Scroll position', scroller.scrollTop);
    };
 
  
  </script>
  
{% endblock %}

{% block content %}
<div class="container-fluid overflow-hidden d-flex flex-column">
  <form method="post" id="form">
    <div class="row flex-grow-1">
      <div class="col-4 sticky-top">
        <nav id="navbar-update" class="flex-column align-items-stretch pe-4 border-end">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link" href="#general-info">1. General Information</a>
            <a class="nav-link" href="#prosodic-units">2. Prosodic Units</a>
            <a class="nav-link" href="#tonal-inventory">3. Tonal Inventory</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ms-3 my-1" href="#toneme-container">3.2. Inventory of tonemes</a>
            </nav>
            <a class="nav-link" href="#tonotactics">4. Tonotactics</a>
            <a class="nav-link" href="#stress-and-tone">5. Stress and Tone</a>
            <a class="nav-link" href="#tonal-rules">6. Tonal Rules</a>
            <a class="nav-link" href="#grammatical-tones">7. Grammatical Tones</a>
            <a class="nav-link" href="#misc">Miscellaneous</a>
            <a class="nav-link" href="{{ url_for('language.texts', lang_id=desc.lang_id) }}">Texts with tonal markup</a>
            {% if desc.report_doi %}
              <a class="nav-link" href="https://doi.org/{{ desc.report_doi }}">Analytical report <i class="bi bi-box-arrow-up-right"></i></a>
            {% endif %}
          </nav>
        </nav>
      </div>
    <div class="col-8">
      <div id="scroll-panel" data-bs-spy="scroll" data-bs-target="#navbar-update" data-bs-smooth-scroll="true" class="vh-100 flex-shrink-0 overflow-auto" tabindex="0">
          {{ form.csrf_token }}
          {{ form.name }}
          <div class="container-xl" id="general-info">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row d-flex mb-3">
                  <div class="col-4 flex-grow-1">
                    <h5 class="card-title">
                      {{ lang_info.name }}
                    </h5>
                    {% if lang_info.thot.alt_names %}
                      <div class="card-subtitle mb-2">{{ lang_info.thot.alt_names }}</div>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                      {{ lang_info.iso }} ({{ desc.lang_id }})
                    </h6>
                    <div class="text-bg-secondary text-wrap">
                      {{ lang_info.family }}
                      {% if ( lang_info.parent or lang_info.thot.parent ) and not lang_info.thot.parent == lang_info.family %}
                        >
                        {% if lang_info.thot.parent %}
                          {{ lang_info.thot.parent }}
                        {% else %}
                          {{ lang_info.parent }}
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-4 d-flex flex-column">
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ lang_info.macroregion }}</h6>
                    {% if lang_info.thot.microregion %}
                      <h6 class="card-subtitle mb-2 text-body-secondary">( {{ lang_info.thot.microregion }} )</h6>
                    {% endif %}
                    {% if g.user is not none %}
                      <div class="mt-auto"><a href="{{ url_for('language.edit_langinfo', lang_id=desc.lang_id) }}" class="card-link">Edit language info</a></div>
                    {% endif %}
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-6 text-body-secondary">L1 speakers: {{ lang_info.thot.l1speakers }}</div>
                  <div class="col-md-6 text-body-secondary">L2 speakers: {{ lang_info.thot.l2speakers }}</div>
                </div>
                <div class="col">
                  <div class="input-group mb-3">
                    {{ form.author.label(class="col-md-6") }}
                    
                    {{ form.author(class="form-control") }}
                  </div>
                  <div class="input-group mb-3">
                    {{ form.owner.label(class="col-md-6") }}
                    
                    {{ form.owner(class="form-control form-select") }}
                  </div>
                  <div class="input-group mb-3">
                    {{ form.dialect.label(class="col-md-6") }}
                    
                    {{ form.dialect(class="form-control form-select autocomplete='off'") }}
                  </div>
                  <div class="d-flex">
                    <div class="p-2 me-auto text-body-secondary">
                      Last modified: {{ desc.modified.strftime('%Y-%m-%d %H:%M') }}
                      by {{ desc.operator.username }}
                    </div>
                    <div>
                      {{ form.status(class="btn dropdown-toggle" + " " + desc.status.color) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="prosodic-units" class="mb-3">
              <div class="h5">
                2. Prosodic units
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                {{ form.tbu.label(class="form-label") }}
                </div>
                <div class="col">
                  {{ form.tbu(class="form-control")}}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col col-md-6">
                {{ form.prosodic_foot.label(class="form-label") }}
                </div>
                <div class="col">
                  {{ form.prosodic_foot(class="form-control") }}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col col-md-6">
                  {{ form.prosodic_foot_relevance.label(class="form-label") }}
                </div>
                <div class="col">
                  {{ form.prosodic_foot_relevance(class="form-control") }}
                </div>
              </div>
            </div>
            <div id="tonal-inventory" class="mb-3 mt-3">
              <div class="h5">
                3. Tonal inventory
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  {{ form.tonal_levels.label(class="form-label")}}
        
                  {{ form.tonal_levels(class="form-control") }}
                </div>
                <div class="col-md-6">
                  {{ form.tonemic_components.label(class="form-label")}}                
                  {{ form.tonemic_components(class="form-control")}}
                </div>
              </div>
              <div class="col mb-3">
                <div class="row mb-3">
                  <div class="input-group mb-3">
                    {{ form.downdrift.label(class="form-label col-md-8")}}
                    {{ form.downdrift(class="form-control")}}
                  </div>
                  <div class="input-group mb-3">
                    {{ form.downstep.label(class="form-label col-md-8") }}
                    {{ form.downstep(class="form-control") }}
                  </div>
                </div>
              </div>
              <div class="mb-3" id="toneme-container">
                <div class="h6 mb-3">
                  3.2 Inventory of tonemes
                </div>
                <div class="d-flex mb-2">
                  {% if g.user is not none %}
                    <a href="{{ url_for('language.create_toneme', lang_id=desc.lang_id) }}" role="button" class="ms-auto p-2 btn btn-outline-secondary">Add a toneme</a>
                  {% endif %}
                </div>
                <div class="row mb-3 gx-4">
                  {% for toneme in tonemes %}
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <div class="card" id="toneme-{{toneme.toneme_id}}">
                        <div class="card-body">
                          <div class="d-flex">
                            <h5 class="card-title">{{toneme.toneme_name}}</h5>
                            <h5 class="card-title ms-auto">[
                              {% for component in toneme.components %}
                                <span class="toneme-components">{{component}} </span>
                              {% endfor %}
                              ]</h5>
                          </div>
                          <div class="d-flex">
                            <h6 class="card-subtitle mb-2 text-body-secondary">{% if toneme.default_tone %}default tone{% else %}toneme{% endif %}</h6>
                            {% if toneme.allotones|length > 0 %}
                              <h6 class="card-subtitle text-body-secondary ms-auto">Allotones: 
                              {% for allotone in toneme.allotones %}
                                <span class="d-inline position-relative" id="allotone-{{ allotone.allotone_id }}">[
                                  {% for component in allotone.components %}
                                    <span class="allotone-components">{% if component.floating %}f{% endif %}{{component}}
                                  {% endfor %}
                                    </span>
                                ]</span>
                              {% endfor %}
                              </h6>
                            {% endif %}
                          </div>
                          {% if toneme.nonpitch|length > 0 %}
                            <div class="d-flex">
                              <div class="text-body-secondary">
                                Non-pitch components:
                              </div>
                              <div class="text-body-secondary ms-auto">
                                {% for np in toneme.nonpitch %}
                                  <div>{{ np.feature.name }}</div>
                                {% endfor %}
                              </div>
                            </div>
                          {% endif %}
                          <p class="card-text">
                            Criteria:
                            <ul class="list-group">
                            {% for tstatus in toneme.criteria %}
                              <li class="list-group-item ms-2">{{ tstatus.critobj.name }}</li>
                            {% endfor %}
                            </ul>
                          </p>
                          {% if g.user is not none %}
                            <div class="d-flex">
                              <a href="{{ url_for('language.edit_toneme', id=toneme.toneme_id) }}" class="card-link" role="button">Edit</a>
                              <a onclick="deleteToneme('{{ toneme.toneme_id }}')" class="card-link ms-auto text-danger">Remove</a>
                            </div>
                          {% else %}
                            <a href="{{ url_for('language.edit_toneme', id=toneme.toneme_id) }}" class="card-link" role="button">View details</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="tonotactics" class="mb-3">
              <div class="h5">
                4. Tonotactics
              </div>
              <div class="row mb-3">
                <div class="col-md-4">
                  {{ form.tonal_domain_size_min.label(class="form-label")}}
                </div>
                <div class="col-md-2">
                  {{ form.tonal_domain_size_min(class="form-control") }}
                </div>
                <div class="col-md-4">
                  {{ form.tonal_domain_size_max.label(class="form-label")}}
                </div>
                <div class="col-md-2">
                  {{ form.tonal_domain_size_max(class="form-control") }}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                {{ form.td_boundary.label(class="form-label")}}
                  
                  {{ form.td_boundary(class="form-control")}}
                </div>
                <div class="col-md-6">
                  {{ form.td_proto_unit.label(class="form-label")}}

                  {{ form.td_proto_unit(class="form-control") }}
                </div>
              </div>
              <div class="row">
                {{ form.td_gt_proto.label(class="form-label col-md-6")}}

                {{ form.td_gt_proto(class="form-control") }}

                {{ form.td_lt_proto.label(class="form-label col-md-6")}}
                
                {{ form.td_lt_proto(class="form-control") }}
              </div>
            </div>
            <div class="h6 mb-2">
              4.3. Toneless syllables
            </div>
            <div class="row mb-3">
              <div class="input-group mb-3">
                {{ form.nontoned_syllables.label(class="form-label col-md-9")}}
                {{ form.nontoned_syllables(class="form-control")}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="input-group mb-3">
                {{ form.tonalization_method.label(class="form-label col-md-6")}}
                {{ form.tonalization_method(class="form-control")}}
              </div>
            </div>
            <div class="input-group mb-3">
              {{ form.nontonal_morphemes.label(class="form-label col-md-8")}}
              {{ form.nontonal_morphemes(class="form-control")}}
            </div>
            <div class="row mb-3">
              <div class="col-md-8">
                {{ form.default_tlevel.label(class="form-label")}}
              </div>
              <div class="col-md-4">
                {{ form.default_tlevel(class="form-control")}}
              </div>
            </div>

          </div>
          <div id="stress-and-tone">
            <div class="h5 mb-3">
              5. Stress and tone
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.culminativity.label(class="form-label col-md-6")}}
                {{ form.culminativity(class="form-control")}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.obligatority.label(class="form-label col-md-6")}}
                {{ form.obligatority(class="form-control")}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.stress.label(class="form-label col-md-6")}}
                {{ form.stress(class="form-control")}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.stress_td_association.label(class="form-label col-md-6")}}
                {{ form.stress_td_association(class="form-control")}}
              </div>              
            </div>
          </div>
          <div id="tonal-rules">
            <div class="h5 mb-3">
              6. Tonal Rules
            </div>
            {% if g.user is not none %}
              <div class="d-flex mb-2">
                <a href="{{ url_for('language.create_rule', lang_id=desc.lang_id) }}" role="button" class="ms-auto p-2 btn btn-outline-secondary">Add a rule</a>
              </div>
            {% endif %}
            <div class="row mb-3">
              {% for rule in tonal_system.tonal_rules %}
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex">
                      <h5 class="card-title">{{ rule.name }}</h5>
                      {% if g.user is not none %}
                        <a class="btn btn-outline-secondary p-2 ms-auto" role="button" href="{{ url_for('language.edit_rule', id=rule.rule_id)}}">Edit</a>
                      {% endif %}
                    </div>
                    <h6 class="card-subtitle mb-2">{{ rule.rule_type.name }}</h6>
                    <div class="row mb-2 fw-bold">
                      {{ rule.formula }}
                    </div>
                    <p class="card-text">{{ rule.comment }}</p>
                    {% if rule.depends_on %}
                      <p class="card-text">This rule is applied after:</p>
                      <ul class="list-group">
                        {% for rdep in rule.depends_on %}
                          <li class="list-group-item">{{ rdep.name }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div id="grammatical-tones">
            <div class="h5 mb-3">
              7. Grammatical Tones
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.has_tonal_morphemes.label(class="form-label col-md-9")}}
                {{ form.has_tonal_morphemes(class="form-control")}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.has_floating_tones.label(class="form-label col-md-9")}}
                {{ form.has_floating_tones(class="form-control")}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.tonal_plus_segment.label(class="form-label col-md-9")}}
                {{ form.tonal_plus_segment(class="form-control")}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.multitoneme_morphemes.label(class="form-label col-md-9")}}
                {{ form.multitoneme_morphemes(class="form-control")}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.numtones.label(class="form-label col-md-9")}}
                {{ form.numtones(class="form-control")}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.tonal_functions.label(class="form-label col-md-9")}}
                {{ form.tonal_functions(class="form-control")}}
              </div>
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.tone_bearers.label(class="form-label col-md-9")}}
                {{ form.tone_bearers(class="form-control")}}
              </div>
            </div>
          <div id="misc">
            <div class="h5 mb-3">
              Miscellaneous
            </div>
            <div class="h6 mb-3">
              8. Tonal classes of words
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.toneme_syntax_association.label(class="form-label col-md-8")}}
                {{ form.toneme_syntax_association(class="form-control")}}
              </div>
            </div>
            <div class="h6 mb-3">
              10. Tonal notation in the writing
            </div>
            <div class="row mb-3">
              <div class="input-group">
                {{ form.orthography.label(class="form-label col-md-6")}}
                {{ form.orthography(class="form-control")}}
              </div>
            </div>
            <div class="h6 mb-3">
              Analytical report (fulltext)
            </div>
            {% if g.user is not none %}
              <div class="row mb-3">
                <div class="input-group">
                  {{ form.report_doi.label(class="form-label col-md-4")}}
                  <div class="col">
                  {{ form.report_doi(class="form-control", placeholder="10.5281/zenodo.00000000")}}
                    <div id="formdoitext" class="form-text mb-3">Please insert doi starting with 10..., without any https://doi.org/ prefix.</div>
                </div>
              </div>
            {% endif %}
            {% if desc.report_doi %}
              <div class="row mb-3">
                <p>A detailed analytical report on the tonal system of {{ lang_info.name }} is available as a preprint at <a class="link-primary" href="https://doi.org/{{ desc.report_doi }}">Zenodo</a>.</p>
              </div>
            {% endif %}
            <hr/>
            {% if g.user is not none %}
              <button formaction="{{ url_for('language.delete', lang_id=desc.lang_id) }}" class="p-2 btn btn-outline-danger" type="submit" onclick="return confirm('Are you sure?');">Delete language from the sample</button>
            {% endif %}
          </div>
      </div>
      </div>
    </div>
    {% if g.user is not none %}
      <div class="row fixed-bottom">
        <div class="d-flex flex-row justify-content-end">
          <div>
            {{ form.save }}
          </div>
        </div>
      </div>
     {% endif %}
        </form>
</div>
{% endblock %}

